POSTGRES_DB=whitehat
POSTGRES_USER=whitehat
POSTGRES_PASSWORD=change-me-now
JWT_SECRET=replace-with-at-least-32-characters
ADMIN_PASSWORD=WhAdmin@2026!7Kp9
WHITEHAT_PASSWORD=WhResearch@2026!3Qx7
COMPANY_PASSWORD=WhCompany@2026!4Lm8
DEMO_PASSWORD=WhDemo@2026!8Nz5
FRONTEND_PORT=5001
BACKEND_PORT=39999
